<div class="sidebar">
    <h2 class="sidebar-title">{{menuTitle()}}</h2> <!-- Aggiunto il titolo -->
    <ul class="menu">
        <li *ngFor="let item of menuItems">
        <a 
            [routerLink]="item.routerLink"
            class="menu-item"
            (click)="setMenuItem(item.routerLink)"
            [ngClass]="{ active: currentMenuItem === item.routerLink }">
            <mat-icon>{{ item.icon }}</mat-icon> {{ item.label }}
        </a>
        </li>
    </ul>              
</div>

