<div class="login-container">
    <div class="login-box">
        <h2>Accedi</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="input-group">
                <label for="username">Nome Utente</label>
                <input type="text" id="username" name="username" required [(ngModel)]="username" />
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required [(ngModel)]="password" />
            </div>
            <button type="submit" [disabled]="!loginForm.form.valid" (click)="login()">Accedi</button>
        </form>
        <div class="footer">
            <p>Non hai un account? <a href="/sign-up">Registrati</a></p>
        </div>
    </div>
</div>
